.footer__container {
  background-color: $blue;
}

.footer__contents--web {
  display: none;
}

.footer__contents--mobile {
  // display: flex;
}

.footer__content-links {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 1rem 0 1rem;
}

.footer__content-link {
  color: white;
}

.footer__get-in-touch {
  display: flex;
  justify-content: space-around;
  // justify-content: center;
}

.footer__location,
.footer__contact {
  padding: $m-size;
  width: fit-content;
}

.footer__location__title,
.footer__contact__title {
  font-size: 1.4rem;
  color: white;
}

.footer__location__content,
.footer__contact__content {
  color: white;
  font-size: 1.2rem;
}

.footer__contact__content:hover {
  color: yellow;
  cursor: pointer;
}

.footer__contact__social-media__container {
  display: flex;
  justify-content: center;
}

.footer__contact__social-media {
  margin: $s-size $s-size;
  font-size: 1.4rem;
}

.footer__contact__social-media:first-child {
  margin-left: 0;
}

.contact-icons {
  color: white;
}

.contact-icons:hover {
  color: yellow;
}

@media (min-width: $tablet-breakpoint) {
  .footer__container {
    padding: $xl-size $l-size;
  }
  .footer__contents--web {
    display: flex;
    justify-content: space-around;
  }

  .footer__contents--mobile {
    display: none;
  }

  .footer__combo-and-about {
    display: flex;
    flex-direction: column;
    padding: $m-size;
    width: 30%;
  }

  .footer__content-link {
    font-size: $m-size;
  }

  .footer__content-link:hover {
    color: yellow;
    font-size: 1.8rem;
  }

  .footer__about {
    font-size: $m-size;
    color: white;
    // margin-top: 10.72px;
    // margin-bottom: 14px;
  }

  .footer__about:hover,
  .footer__about:active {
    color: yellow;
    font-size: 1.8rem;
  }

  .footer__location,
  .footer__contact {
    padding: $m-size;
    width: fit-content;
  }

  .footer__location__title,
  .footer__contact__title {
    font-size: $m-size;
    margin-bottom: 20px;
  }

  .footer__location__content,
  .footer__contact__content {
    font-size: 1.4rem;
  }

  .footer__menu-links {
    width: fit-content;
    padding: $m-size;
  }

  .footer__menu-main-title {
    font-size: $m-size;
    width: fit-content;
    color: white;
    margin-bottom: 20px;
  }

  .footer__menu-links__container {
    display: flex;
    flex-direction: column;
  }

  .footer__menus {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 14px;
    border-left: 2px solid white;
    padding-left: 1rem;
  }

  .footer__menus:hover {
    color: yellow;
    border-left: 2px solid yellow;
  }

  .footer_about-text {
    // width: 200px;
    margin-bottom: 3rem;
  }
  .footer__about-text__title {
    margin-top: 10.72px;
    color: white;
    font-size: $m-size;
  }
  .footer__about-text__content {
    color: white;
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.8;
  }

  .footer__combos-about-links-div {
    // display: flex;
    // justify-content: space-around;
  }
  .footer__about {
    margin-right: 2.4rem;
  }
}
